<%= form_for question, remote: true do |f| %>
  <hr>
  Would you rather....
  <br><br>
<% end %>

<%= form_for [question, @vote] do |f| %>
  <%= f.hidden_field :question_id, value: question.id %>

  <%= f.submit question.option_1, class: "btn btn-link" %>
  or
  <%= f.submit question.option_2, class: "btn btn-link" %>
<% end %>


  <!-- <%= link_to question.option_1, question_votes_path(question), value: 1, method: :create %>
  or <%= link_to question.option_2, question_votes_path(question), value: 2, method: :create %> ? -->

<% if current_user.try(:id) == question.user_id %>
  <%= link_to "remove", question, method: :delete, data: {confirm: "Are you sure?"}, remote: true, class: "btn btn-danger btn-xs" %>
<% end %>

<div id="questionVotes">
<h4>Votes so far:</h4>
<%= question.option_1 %>: <%= question.option_1_count %><br>
<%= question.option_2 %>: <%= question.option_2_count %>
</div>
